{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'extropy/materialize/css/materialize.min.css' %}"  media="screen,projection"/>

{% for field in form %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<span class="text-danger small">{{ field.error }}</span>
		</div>
		<label class="control-label col-sm-2">{{ field.label_tag }}</label>
		<div class="col-sm-10">{{ field }}</div>
	</div>
{% endfor %}

<script src="{% static 'extropy/js/js/lib/jquery.min.js' %}"></script>
<script src="{% static 'extropy/materialize/js/materialize.min.js' %}"></script>